@font-face {
    font-family: 'headerFont';
    src: url('../fonts/Aileron-UltraLight.otf');
}

body {
    overflow: hidden;
    font-family: 'headerFont';
    background-size: 100vw
}

nav {
    position: fixed;
    height: 5vh;
    width: 100vw;
    z-index: 5;
    top: 0%;
    left: 0%;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #a39f3c;
    background-color: #777;
}

nav img {
    width: 1.7rem;
    top: 0.6em;
    position: absolute;
    cursor: pointer;
}

nav span {
    font-family: 'headerFont';
    color: #eee;
    font-size: 1.5em;
    font-weight: 700;
    left: 2.5rem;
    position: absolute;
    cursor: pointer;
}

nav ul li {
    list-style-type: none;
    display: inline;
    color: #eee;
    font-weight: 630;
    font-size: 1.5em;
    font-family: 'headerFont';
    margin-right: 2rem;
    left: 43em;
    top: -1rem;
    position: relative;
    cursor: pointer;
}

#pageHeader {
    height: 57.4rem;
    width: 80rem;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #212629db;
    align-items: center;
    justify-content: center;
    /* opacity: 0.2; */
}

h1 {
    font-size: 4em;
    text-align: center;
    color: #a39f3c;
    font-family: headerFont;
    top: 3em;
    left: 2em;
    position: absolute;
    width: 16.5em;
}

#headerImg {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    opacity: 0.2;
    height: 100%;
}

.about {
    position: absolute;
    font-size: 1.5em;
    width: 55rem;
    text-align: center;
    top: 16em;
    color: #eee;
    left: 11em;
    font-family: monospace;
}

.wrapper {
    position: relative;
    height: 10vh;
    top: 27em;
    left: 7.5em;
    color: #eee;
    display: inline-block;
    margin-right: 9.8em;
}

.label {
    font-size: 1.5em;
    padding-bottom: 0.2em;
    display: block;
    position: relative;
    left: 6vw;
    top: 6vh;
    margin-bottom: 4.5rem;
}

.wrapper input {
    display: block;
    position: relative;
    top: 2em;
    border: none;
    width: 23em;
    height: 2.5em;
    text-align: justify;
    font-size: 1.2em;
}

#startButn {
    position: absolute;
    border: none;
    left: 32em;
    top: 21em;
    width: 8em;
    height: 6vh;
    background-color: #a39f3c;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.1em;
}

form {
    position: absolute;
    width: 40vw;
    height: 50vh;
    left: 27%;
    top: 20%;
    color: #eee;
    display: none;
    background-color: #565741d6;
    box-shadow: 0px 0px 4px 0;
}


#dev1 {
    position: absolute;
    width: 28vw;
    height: 6vh;    
    text-align: left;
    font-size: 1.8vw;
    font-family: inherit;
    left: 15%;
    top: 23%;
    border: none;
    box-shadow: 0 0 2px 0;
}

#dev2 {
    position: absolute;
    width: 28vw;
    height: 6vh;
    text-align: left;
    font-size: 1.8vw;
    font-family: inherit;
    left: 15%;
    top: 57%;
    border: none;
    box-shadow: 0 0 2px 0;
}


#compare {
    position: absolute;
    border: none;
    left: 58%;
    top: 81%;
    width: 11vw;
    height: 6vh;
    background-color: #7e57c2;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.1em;
}

#cancel {
    position: absolute;
    border: none;
    left: 15%;
    top: 81%;
    width: 11vw;
    height: 5.3vh;
    padding-top: 7px;
    background-color: #e9361e;
    color: white;
    cursor: pointer;
    font-size: 1.4em;
    text-align: center;
}